{% extends "base.html" %}

{% block title %}
  Drop Course
{% endblock %}

{% block page_title %}
    <h2 class="h1 bg-secondary-theme-one my-2 p-2">Sign Up</h2>
{% endblock %}

{% block content %}
  <div class="container">

    <div class="container m-2 module bg-light">
      <p class="h5 py-1">Are are about to drop: {{ course.title }}</p>
      <form class="" action="" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p>
          <input class="btn bg-btn-theme-one text-white" type="submit" name="" value="Confirm Drop">
        </p>
      </form>
    </div>
  </div>

{% endblock %}
