{% extends "base.html" %}
{% block title %}
  {% if object %}
    Edit course "{{ object.title }}"
  {% else %}
    Create a new course
  {% endif %}
{% endblock %}
{% block page_title %}
  <h2 class="bg-secondary-theme-one">
      {% if object %}
        Edit course "{{ object.title }}"
      {% else %}
        Create a new course
      {% endif %}
  </h2>
{% endblock %}

{% block content %}
  <div class="container">

    <div class="module container">
      <h2>Course info</h2>
      <form class="" method="post" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" class='bg-btn-theme-one text-white' value="Save course"></p>
      </form>
    </div>
  </div>

{% endblock %}
