{% extends "base.html" %}
{% block title %}
  {{ object.title }}
{% endblock %}
{% block content %}
  {% with subject=object.subject %}
    <div class="card">
      <h1 class='card-header bg-secondary text-light'> {{ object.title }}</h1>
      <div class="module card-body">
        <h2 class="card-title">Overview</h2>
        <div class="card-text">
          <p class="h5">
            <a href="{% url "courses:course_list_subject" subject.slug %}">{{ subject.title }}</a>.
            {{ object.modules.count }} modules.
            Instructor:
            {{ object.owner.username }}
          </p>
          {{ object.overview|linebreaks }}
          {% if request.user.is_authenticated %}
            <form class="" action="{% url "students:student_enroll_course" %}" method="post">
              {{ enroll_form }}
              {% csrf_token %}
              <input type="submit" name="" value="Enroll Now">
            </form>
          {% else %}
            <div class="text-center">
              <a class="btn btn-light border border-dark" href="{% url "students:student_registration" %}">
                Register to Enroll
              </a>
            </div>
          {% endif %}

        </div>

      </div>
    </div>
  {% endwith %}
{% endblock %}
