{% extends "base.html" %}
{% block  title %}Log-In{% endblock %}

{% block page_title %}
    <h2>Log-In</h2>
{% endblock %}

{% block content %}
  <div class="container text-center">

    <div class="container ">
      {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
      {% else %}
        <p>Please, use the following form to log-in:</p>
      {% endif %}
      <div class="form">
        <form action="{% url 'login' %}" method="post">
          {{ form.as_p }}
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}" />
          <p><input class="btn bg-btn-theme-one text-white px-5" type="submit" value="Log-in"></p>
          <p>
            <a href="/students/register/">Don't have an account yet?</a>
          </p>
        </form>
      </div>
    </div>

  </div>

{% endblock %}
