{% extends "base.html" %}
{% load course %}

{% block title %}
  Assignment {{ object.title }}
{% endblock %}
{% block page_title %}
  <h2 class="m-1">Course "{{ object.course }}"</h2>
{% endblock %}
{% block content %}

  {% with course=object.course %}
    <form method="post" action="" class="bg-light student_test_form">
      {% csrf_token %}
      <div class="container-fluid bg-theme-white p-0">
        <div class="container-fluid bg-theme-light">
          <h4>{{ object.title }}</h4>
        </div>
        <div class="container">
          <div class="px-2">
            <h6>Overview</h6>
            <p class="px-2">
              {{ object.overview }}
            </p>
          </div>
          <div class="row">
              <h6 class="col-sm-6 text-left">
                <p>Duration:&nbsp;&nbsp;{{object.time_limit}}s</p>
              </h6>
              <h6 class="col-sm-6 text-right">
                <p>Weight:&nbsp;&nbsp;{{object.weight}}%</p>
              </h6>
              <h6 class="col-sm-12 text-right">
                <p>Total:&nbsp;&nbsp;&nbsp;{{grade}}/{{object.get_total}}</p>
              </h6>
          </div>
        </div>
      </div>

      <br>
      <hr>
      <br>
      <div class="container row my-2">
        <div class="module col-xs-12 col-sm-12">
          <div id="module-contents">
            <ul class="list-group">
              {% for question in object.assignment_questions.all %}
                <li class="{% if question.pk in wrongs %}border border-danger{% endif %} list-group-item bg-white my-1">
                  <div class="row">
                    <div class="question_numbers_container col-sm-1">
                      <p>{{question.order}})</p>
                    </div>
                    <div class="col-sm-10">
                      <div class="editored-content">
                        {{question.question|safe}}
                      </div>
                      <div data-id="{{ question.id }}" class="choices-container">
                        {% for choice in question.question_choices.all%}
                          {% if forloop.first %}
                              <hr class="full-width-divisor">
                          {% endif %}
                          {% with item=choice %}
                            <p>{{ item|render_choice }}</p>
                          {% endwith %}
                          {% if not forloop.last %}
                              <hr class="full-width-divisor">
                          {% endif %}
                        {% empty %}
                          <p>No Choice Yet</p>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="col-sm-1 p-0 m-0">
                      <p class='question_pt'>{{question.total_point}}pt</p>
                    </div>
                  </div>
                </li>
              {% empty %}
                <li class="list-group-item">
                  <p>Instructor has not added any question to this test.</p>
                </li>
              {% endfor %}
            </ul>
          </div>
          <hr>
          <div class="container-fluid bg-theme-white py-2">
              <p class="h5 text">Add new submission:</p>
              <ul class="text-center list-inline content-types">
                 <li class="list-inline-item">
                   <button type="submit" class="btn bg-btn-theme-two">Submit</button>
                 </li>
              </ul>
          </div>
        </div>
      </div>
    </form>
  {% endwith %}
{% endblock %}
