{% extends "base.html" %}

{% block title %}
  {% if object %}
    Edit content "{{ object.title }}"
  {% else %}
    Add new content
  {% endif %}
{% endblock %}

{% block content %}
  <div class="">
    <h1>
      {% if object %}
        Edit content "{{ object.title }}"
      {% else %}
        Add new content
      {% endif %}
    </h1>
    <div class="">
      <h2>Course Info</h2>
      <form class="" action="" method="post" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Save content"></p>
      </form>
    </div>
  </div>
{% endblock %}
